
    :root{

    /*(sub-heading at the top of the app UI)*/
    --Pale_Violet: hsl(276, 100%, 81%);

    /*(chat on the left)*/
    --Moderate_Violet: hsl(276, 55%, 52%);

    /* (chat on the right)*/
    --Desaturated_Dark_Violet: hsl(271, 15%, 43%);

    /* (placeholder text)*/
    --Grayish_Blue: hsl(206, 6%, 79%);

    /* (main heading)*/
    --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);

    /*(paragraph)*/
    --Dark_Grayish_Violet: hsl(270, 7%, 64%);

    /*#### Gradients

    These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:*/

    --Light_Magenta: rgb(233, 66, 255);
    --Light_Violet: rgb(136, 56, 255);

    /*### Secondary*/

    --White: hsl(0, 0%, 100%);

    /*(app background)*/
    --Light_Grayish_Violet: hsl(270, 20%, 96%);

    /* (submit button background)*/
    --Very_Dark_Desaturated_Violet: hsl(271, 36%, 24%);

    /* (radio button outline)*/
    --Very_Light_Magenta: hsl(289, 100%, 72%);

    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .container-main{
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* inicio da section one */

    .container-main .design-one{
        position: fixed;
        top: 0;
        left: -50px;
        width: 400px;
        height: 580px;
        border-radius: 0 0 200px 200px;
        background: rgb(233,66,255);
        background: linear-gradient(200deg, rgba(233,66,255,1) 2%, rgba(136,56,255,1) 52%); 
    }

    /* fim da section one */

    /*inicio da section two */

    .container-main .design-two{
        position: fixed;
        bottom: 0;
        right: -80px;
        width: 360px;
        height: 540px;
        border-radius: 200px 200px  0 0 ;
        background: hsla(264, 6%, 83%, 0.37);
    }

    /*fim da section two */

    /*inicio da container */

    .container-main .container{
        border: 1px solid #000;
        width: 80%;
        height: 550px;
        z-index: 5;
        display: inline-block;
    }

    .container-main .container .phone{
        width: 270px;
        height: 545px;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        padding: 10px;
    }

    .container-main .container .phone .phone-content{
        width: 100%;
        height: 100%;
        background-color: hsl(270, 20%, 96%);
        border-radius: 25px;
        overflow: hidden;
    }

    .container-main .container .phone .phone-content .phone-nav{
        width: 100%;
        height: 70px;
        border-radius: 5px;
        background: rgb(233,66,255);
        background: linear-gradient(250deg, rgba(233,66,255,1) 15%, rgba(136,56,255,1) 65%); 
    }
    .container-main .container .phone .phone-content .phone-audio{
        width: 60%;
        height: 18px;
        background-color: #fff;
        border-radius: 0 0 30px 30px;
        box-shadow: var(--box-shadow);
        margin: 0 auto;
    }

    .container-main .container .phone .phone-content .phone-nav-container{
        width: 100%;
        height: 50px;
        color: #fff;
        /*border: 1px solid #000;*/
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .container-main .container .phone .phone-content .phone-nav-container img{
        width: 30px;
        height: 30px;
        border: 1px solid #fff;
        border-radius: 50%;
        margin: 0 6px 0 2.5px;
    }

    .container-main .container .phone .phone-content .phone-nav-container div:first-child{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-main .container .phone .phone-content .phone-nav-container div:first-child h1{
        font-size: 12px;
        font-weight: 650;
        margin-bottom: -3px;
    }
    .container-main .container .phone .phone-content .phone-nav-container div:first-child span{
        font-size: 11px;
        font-weight: 600;
    }

    /*fim da container */

    /*inicio da message */

    .message{
        width: 100%;
        height: 100%;
    }

    .message .her-message{
        width: 150px;
        height: 45px;
        margin: 10px;
        padding: 10px;
        background-color: hsl(280, 23%, 95%);
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        font-size: 9px;
        color: hsl(276, 55%, 52%);
    }

    .message .images{
        width: 100%;
        height: 45px;
        text-align: right;
        padding-right: 10px;
    }

    .message .images img{
        height: 45px;
        width: 45px;
        margin-left: 2px;
        border-radius: 10px;
    }

    .message .my-message{
        width: 100%;
        height: auto;
        padding: 15px 10px;
        display: flex;
        align-items: center;
        justify-content: right;
    }

    .message .my-message div{
        max-width: 150px;
        height: auto;
        padding: 10px;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        border-radius: 5px;
        font-size: 9px;
        color: hsl(276, 55%, 52%);
    }

    .message .bottom{
        margin-top: -20px;
        margin-bottom: -20px;
    }

    .message .price{
        max-width: 170px;
        height: 35px;
        background: rgb(233,66,255);
        background: linear-gradient(250deg, rgba(233,66,255,1) 15%, rgba(136,56,255,1) 65%);
        border-radius: 5px 5px 5px 0; 
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        color: #fff;
    }
    .message .price .componentes{
        display: flex;
    }

    .message .circle{
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid #fff;
    }

    .message .price p {
        font-size: 9px;
        margin-left: 10px;
        margin-top: 2px;
    }

    .message .price h2 {
        font-size: 12px;
    }

    .message .top {
        margin: 5px 10px 10px;
    }

    .send{
        width: 95%;
        height: 40px;
        background-color: #fff;
        box-shadow: var(--box-shadow);
        margin: 0 auto;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

    .send input{
        border: 1px solid #fff;
    }

    .send input:focus{
        border: 1px solid #fff;
    }

    .send input:hover{
        border: 1px solid #fff;
    }

    .send input:focus-visible{
        border: 1px solid #fff;
    }

    .send button{
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        color: #fff;
        background-color: hsl(271, 36%, 24%);
        font-size: 12px;
        font-weight: 800;
    }

    /*fim da message */